/*  Naam: Bjarne Jans
*/


body {
    font-family: serif;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
    width: 80%;
    margin: 40px auto;
}

th, td {
    border: 3px solid black;
    text-align: center;
    padding: 10px;
}

td {
    font-family: monospace;
    font-size: 16px;
}

thead tr:nth-child(1) th {
    background-color: rgb(50, 50, 50);
    color: white;
    font-weight: bold;
}

thead tr:nth-child(2) th {
    background-color: rgb(190, 190, 190);
    color: black;
    font-weight: bold;
}

tbody td[rowspan] {
    background-color: rgb(50, 50, 50);
    color: white;
    vertical-align: middle;
    font-weight: bold;
}

tbody th {
    background-color: rgb(190, 190, 190);
    color: black;
    font-weight: bold;
}

tbody tr:nth-child(1) td:nth-child(3),
tbody tr:nth-child(2) td:nth-child(3),
tbody tr:nth-child(3) td:nth-child(4),
tbody tr:nth-child(4) td:nth-child(5),
tbody tr:nth-child(5) td:nth-child(6) {
    background-color: rgb(190, 190, 190);
}

